*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    overflow-x: hidden;
 font-family: Arial, sans-serif;
    font-size: 1rem;
}

/* Utility Classes */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #262626;
}
a:hover{
    color: #1d1b1b;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: rgba(0.2, 0.25, 0.3, 0.35);
    }

/* Header */
.header{
    width: 100vw;
    height: 70px;
    font-size: 0.9rem;
    
}
ul.google-icons{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
   
}
ul.google-icons li{
    padding: 0.5rem;
}
/* google-icons img */
/* google-apps-icon */
img.google-apps-icon{
    width: 1.5rem;
}
/* google-account-icon */
img.google-account-icon{
    width: 2.1rem;
}

img.google-account-icon{
    border-radius: 50%;
}
img.google-apps-icon{
width: 1.3rem;
}
/* google-apps-icon-item */
.google-apps-icon-item{
    width: 2.4;
}
.google-apps-icon-item{
border-radius: 50%;
padding: 2rem;
}
.google-apps-icon-item:hover{
    background-color: #f2f2f2;
}


/* Main */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

/* logo */
.logo{
    margin: 1rem;
}
/* google-search-box */
.google-search-box{
    border: 1px solid #ccc;
    border-radius: 100px;
    outline: none;
    margin: 1rem;
    padding: 0.8rem 1rem;
}
.google-search-box:hover{
    border: 2px solid #ccc;
}
.google-search-box input{
    width: 35rem;
    padding:  0.2rem 0.5rem;
    border: none;
    outline: none;
    
}
/* fa-search */
.fa-search{
    color: #ccc;
}
/* fa-microphone */
.fa-microphone{
    color: #4285F4;
}
.google-text{
    display: flex;
}
.google-text input{
    margin: 1rem 0.5rem;
    padding:  0.7rem 1rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #f8f9fa;
}
/* google-languages */
.google-languages{
    display: flex;
    font-size: 0.8rem;
}
.google-languages ul{
    display: flex;
}
.google-languages a{
    padding: 0 0.2rem;
    color: #1a0db3;
}

/* Footer */
.footer{
    background-color: #f2f2f2;
     width: 100vw;
    min-height: 70px;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    opacity: 0.6;
    font-size: 0.9rem;
}
.footer-main, .footer-copy{
    min-height: 35px;
    padding: 0.5rem;
    }
    /* Footer hr */
    .footer-hr{
      color: #80808031;
    }
.footer-copy{
    display: flex;
    justify-content: space-between;
}
.footer-copy ul{
    display: flex;
}
.footer-copy ul a{
    padding: 0.6rem;
}


